/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

* {
    box-sizing: border-box;
}

#animagram-card-1 {
    border: 2px solid black;
    width: 350px;
    padding: 10px;
    margin: 24px;
   text
}
 
#profile-pic-container img {
    
}
